main .cd-main-content.cd-index::after {
    background-color: rgba(64, 137, 166, 0);
    background-image: -webkit-linear-gradient(bottom, rgba(64, 137, 166, 0), rgba(64, 137, 166, 0));
    background-image: linear-gradient(to top,rgba(64, 137, 166, 0), rgba(64, 137, 166, 0));
}
